
<html layout:decorate="~{/global/layout}">
<div layout:fragment="content" class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th>글 번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>조회수</th>
            <th>추천수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="poster : ${posters}" class="hover">
            <th th:text="${poster.id}"></th>
            <th th:text="${poster.getAuthor()}" ></th>
            <th th:text="${poster.getTitle()}" ></th>
            <th th:text="${poster.getHits() != null ? poster.getHits() : 0}" ></th>
            <th th:text="${poster.getRecommendation() != null ? poster.getHits() : 0}" ></th>
        </tr>
        </tbody>
    </table>
</div>
</html>
