<html layout:decorate="~{/global/layout}">
<div layout:fragment="content" class="ml-5">
    <div class="container my-3">
        <div class="my-3 border-bottom">
            <div>
                <h4>댓글 수정</h4>
            </div>
        </div>
        <form th:action="@{|/post/${post.id}/comment/${comment.id}/modify|}" th:object="${comment}" method="post">
            <div th:replace="~{/global/form_error :: formErrorsFragment}"></div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea type="password" th:field="*{content}" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">수정하기</button>
        </form>
    </div>


</div>
</html>