<html layout:decorate="~{global/layout_markdown}">
<div layout:fragment="content" class="p-5">





    <div>

        <h2  class="text-3xl font-bold" th:text="${post.getTitle()}"></h2>
        <div id="viewer-2"></div>


        <div>
            <a sec:authorize="isAuthenticated()"
               th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author}"
               th:href="@{|/post/${post.getId()}/modify|}" class="btn btn-ghost">글 수정</a>
            <a sec:authorize="isAuthenticated()"
               th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author}"
               th:href="@{|/post/${post.getId()}/delete|}" class="btn btn-ghost">글 삭제</a>
        </div>

    </div>

    <h5 class="mt-5" th:text="|${#lists.size(post.getComments())}개의 답변이 있습니다.|"></h5>
    <div class="mt-5">

        <div class="flex flex-col" th:each="comment : ${post.getComments()}">

            <div class="chat chat-start">
                <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS chat bubble component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <div class="chat-header" th:text="${comment.getAuthor()}">
                    <time class="text-xs opacity-50"></time>
                </div>
                <div class="chat-bubble" th:text="${comment.getContent()}"></div>


                <div class="chat-footer opacity-50">
                </div>
            </div>

            <div>
                <button class="btn btn-ghost"
                        th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author}"
                        th:href="|/post/${post.getId()}/comment/${comment.getId()}/modify|">수정
                </button>
                <button class="btn btn-ghost"
                        th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author}"
                        th:href="|/post/${post.getId()}/comment/${comment.getId()}/delete|">삭제
                </button>

            </div>

        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="flex">
        <form  th:action="@{|/post/${post.id}/comment/write|}"  th:object="${commentCreateForm}" method="post">
            <div th:replace="~{global/form_error :: formErrorsFragment}"></div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="textarea textarea-bordered h-24 form-control" type="password" th:field="*{body}"  rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
    </div>

    <script th:inline="javascript">

        const Editor = toastui.Editor;

        const viewer = Editor.factory({
            el: document.querySelector("#viewer-2"),
            viewer: true,
            initialValue: [[${post.getContent()}]]
        });


        /*<![CDATA[*/
        $(document).ready(function() {
            var postId = /*[[${post.getId()}]]*/'';
            var csrfToken = /*[[${_csrf.token}]]*/'';
            var csrfHeader = /*[[${_csrf.headerName}]]*/'';


            // 타이머 시작
            var timer = setTimeout(function() {
                console.log("User stayed for 10 seconds. Sending POST request...");

                // POST 요청 보내기 (예: AJAX)
                $.ajax({
                    type: 'POST',
                    url: '/post/' + postId + '/increaseHit',
                    data: {
                        // 추가적인 데이터가 있다면 여기에 추가
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(response) {
                        console.log("POST request sent successfully:", response);
                    },
                    error: function(error) {
                        console.error("Error sending POST request:", error);
                    }
                });

            }, 10000); // 10초 (10000 밀리초)

            // 사용자가 페이지를 떠나면 타이머 취소
            $(window).on('beforeunload', function() {
                clearTimeout(timer);
            });
        });
        /*]]>*/
    </script>
    </div>
</div>
</html>


