<html layout:decorate="~{global/layout_markdown}">
<div layout:fragment="content" >
    <div class=" mx-5" >
        <div class="mockup-browser border border-base-300">
            <div class="mockup-browser-toolbar">
                <div class="input border border-base-300">https://medium.bdksm.com</div>
            </div>
            <div class="m-3">
                <form th:action="@{/post/write}" th:object="${postCreateForm}" method="post" onsubmit="importContent()">
                    <div th:replace="~{global/form_error :: formErrorsFragment}"></div>
                    <div class="mb-3 flex flex-col">
                        <label for="title" class="text-2xl font-bold">제목</label>
                        <input th:field="*{title}" type="text" placeholder="제목 입력해주세요" class="input input-bordered w-full max-w-xs" />
                    </div>
                    <div class="mb-3">
                        <label for="content" class="text-2xl font-bold">내용</label>
                        <div id="editor"></div>


                        <textarea  placeholder="내용 입력해주세요" th:field="*{content}" class="hidden" rows="10"></textarea>
                    </div>
                    <div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="text-xl font-bold">공개 글</span>
                                <input th:field="*{isPublish}" type="checkbox" class="toggle" name="isPublish" checked />
                            </label>
                        </div>

                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="text-xl font-bold">유료 글</span>
                                <input th:field="*{isPaid}" type="checkbox" class="toggle" name="isPaid" checked/>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">저장하기</button>
                </form>
            </div>
        </div>

    </div>

    <script>
        const Editor = toastui.Editor;

        function importContent(){
            document.getElementById('content').value = editor.getMarkdown();
        }

        const editor = new Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical'
        });
    </script>

</div>
</html>
