<!doctype html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">

    <!-- 토스트 UI 에디터 불러오기 시작 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <!-- 토스트 UI 에디터 불러오기 끝 -->




    <!-- 신택스 하이라이터 플러그인 라이브러리 시작 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css">
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
    <!-- 신택스 하이라이터 플러그인 라이브러리 끝 -->

    <!-- katex 플러그인 라이브러리 시작 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.13/katex.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.13/katex.min.css">
    <!-- katex 플러그인 라이브러리 끝 -->

    <!-- uml 플러그인 라이브러리 시작 -->
    <script src="https://uicdn.toast.com/editor-plugin-uml/latest/toastui-editor-plugin-uml.min.js"></script>
    <!-- uml 플러그인 라이브러리 끝 -->

    <title>Medium</title>
</head>
<body>
<!--<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />-->
<!--<script src="https://cdn.tailwindcss.com"></script>-->

<div class="flex flex-col gap-5 mt-5 my-5">
    <div class="navbar bg-base-100">
        <a class="btn btn-ghost text-xl" th:href="@{/}">HOME</a>
        <a class="btn btn-ghost text-xl" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
        <a class="btn btn-ghost text-xl" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
        <a class="btn btn-ghost text-xl" sec:authorize="isAuthenticated()" th:href="@{/post/myList}">My Post</a>
        <a class="btn btn-ghost text-xl" sec:authorize="isAnonymous()" th:href="@{/member/join}">회원가입</a>

    </div>

    <div fle>
        <th:block layout:fragment="content"></th:block>
    </div>

</div>
</body>
</html>